@import "../app/variables.module.scss";

.navigation {
  display: flex;
  transform-origin: center;
  justify-content: center;
  color: $primary-color;
  margin-bottom: -20px;
  ul {
    transform: rotate(-90deg);
    li {
      margin: 20px 0;
    }
    li::before {
      content: " ";
      margin-bottom: 0.2rem;
      height: 3px;
      width: 4rem;
      display: block;
      background: rgb(119, 85, 0);
      background: linear-gradient(
        90deg,
        rgba(119, 85, 0, 1) 0%,
        rgba(238, 184, 49, 1) 41%,
        rgba(255, 232, 112, 1) 63%,
        rgba(119, 85, 0, 1) 100%
      );
      border-radius: 20px;
      // transition: 0.2s all;
      // // visibility: hidden;
      // transform: scaleX(0);
      // transition: transform 200ms;
    }
    li:hover::before {
      // background-size: 100%;
      // visibility: visible;
      //   transform: scaleX(1);
    }
  }
}

.link {
  text-decoration: none;
  &:hover,
  &:visited,
  &:focus {
    color: $primary-color;
  }
}
